/* DEFAULT/GLOBAL STYLES */

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "segoe ui",
    "lucida grande", "helvetica neue", helvetica, "fira sans", roboto, noto, "droid sans",
    cantarell, oxygen, ubuntu, "franklin gothic medium", "century gothic", "liberation sans", sans-serif;
  overflow-x: hidden;
  font-size: 16px;
  background-color: #f9fafa;
  box-sizing: border-box;
}

a,
ul,
input {
  all: unset;
}

/* ROOT VARIABLES */

:root {
  --primary-color: #7c7e8a;
  --secondary-color: #3ba6fd;
  --white: #fff;
  --blue: #2d9dfd;
  --blue-light: #88c7ff;
  --red: #f15c42;
  --red-light: #ed9181;
  --cyan: #36b9ae;
  --cyan-light: #6ee3d9;
  --orange: #edad41;
  --orange-light: #eac078;

  --box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  --box-shadow-light: rgb(208, 207, 207) 0px 2px 4px 0px;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  padding: 0.6rem 1.5rem;
  color: var(--primary-color);
  background-color: var(--white);
}

header a {
  font-size: 0.91rem;
  font-weight: 500;
  cursor: pointer;
}

header i {
  font-size: 1.1rem;
  cursor: pointer;
}

header img {
  cursor: pointer;
}

header hr {
  height: 32px;
}

.header-container-nav-selected {
  color: var(--secondary-color);
}

.logo img {
  width: 110px;
  padding-top: 0.4rem;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header-middle {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header-middle>nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-profile-pic>img {
  width: 34px;
  border-radius: 100%;
}

.header-arrow-icons {
  display: flex;
  flex-direction: column;
}

.header-arrow-icons>i {
  font-size: 0.8rem;
}

.bell-icon-container {
  position: relative;
}

.bell-icon-container::after {
  content: "";
  position: absolute;
  top: 22%;
  left: 63%;
  background-color: blue;
  width: 6px;
  height: 6px;
  border-radius: 100%;
}

/* MAIN */

main {
  padding: 0.5rem 3.6rem;
}

/* main section heading */

.main-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-heading-container>h1 {
  font-size: 1.8rem;
}

.main-heading-container>div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main-heading-container>div>div {
  background-color: var(--white);
  padding: 0.3rem 0.4rem;
  border-radius: 8px;
  box-shadow: var(--box-shadow-light);
  cursor: pointer;
}

/* main section navbar */

.main-heading-container {
  margin-bottom: 1.5rem;
}

.main-content-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-content-container>nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(207, 205, 205);
}

.main-content-container>nav>div>a {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--primary-color);
  cursor: pointer;
}

.main-content-container-nav-selected {
  position: relative;
}

.main-content-container-nav-selected::after {
  content: "";
  position: absolute;
  top: 165%;
  left: 0%;
  background-color: var(--blue);
  width: 100%;
  height: 3px;
}

/*  main content summary container */

.main-content-summary-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-content-summary {
  display: flex;
  justify-content: space-between;
  min-width: calc(100%/4 - 2rem);
  /* gap: 4rem; */
  padding: 1rem 1.6rem;
  background-color: var(--white);
  border-left: 4px solid var(--blue);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.main-content-summary:hover {
  transform: scale(1.1);
  box-shadow: var(--box-shadow);
}

.summary-left-part {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.summary-left-part-icon {
  border: 1px solid var(--blue);
  padding: 0.2rem;
  border-radius: 100%;
}

.summary-left-part-icon>i {
  padding: 0.4rem;
  background-color: var(--blue);
  border: 1px solid var(--blue-light);
  border-radius: 100%;
}

.summary-left-part-text>p {
  color: var(--primary-color);
  font-size: small;
}

.summary-right-part>span {
  background-color: #dcedfa;
  color: var(--primary-color);
  font-size: x-small;
  padding: 0.2rem 0.4rem;
  border: 1px solid #a4d5fc;
  border-radius: 6px;
}

.red {
  border-left: 4px solid var(--red);
}

.red .summary-left-part-icon {
  border: 1px solid var(--red);
}

.red .summary-left-part-icon>i {
  background-color: var(--red);
  border: 1px solid var(--red-light);
}

.cyan {
  border-left: 4px solid var(--cyan);
}

.cyan .summary-left-part-icon {
  border: 1px solid var(--cyan);
}

.cyan .summary-left-part-icon>i {
  background-color: var(--cyan);
  border: 1px solid var(--cyan-light);
}

.orange {
  border-left: 4px solid var(--orange);
}

.orange .summary-left-part-icon {
  border: 1px solid var(--orange);
}

.orange .summary-left-part-icon>i {
  background-color: var(--orange);
  border: 1px solid var(--orange-light);
}

/*  main content body container */

.main-content-body-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: min-content;
  /* grid-auto-columns: auto; */
  grid-gap: 1rem;
  grid-template-areas:
    "latest-news latest-news latest-news latest-news explore-project explore-project explore-project explore-project project-details project-details project-details project-details"
    "latest-news latest-news latest-news latest-news explore-project explore-project explore-project explore-project project-details project-details project-details project-details"
    "latest-news latest-news latest-news latest-news notes notes notes notes project-details project-details project-details project-details"
    "latest-news latest-news latest-news latest-news notes notes notes notes project-details project-details project-details project-details"
    "latest-news latest-news latest-news latest-news notes notes notes notes project-details project-details project-details project-details"
    "latest-news latest-news latest-news latest-news notes notes notes notes project-details project-details project-details project-details"
    "latest-news latest-news latest-news latest-news notes notes notes notes project-details project-details project-details project-details";
}

/* Latest news section */

.latest-news-container {
  grid-area: latest-news;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--white);
  padding: 1rem 1.5rem;
}

.latest-news-heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.latest-news-heading-container>h1 {
  font-weight: 600;
}

.latest-news-heading-container>p {
  color: var(--blue);
  font-size: small;
  font-weight: 600;
  cursor: pointer;
}

.latest-news-filter-container {
  border: 1px solid var(--primary-color);
  width: fit-content;
  padding: 0.2rem 1rem;
  text-align: center;
  position: relative;
  border-radius: 8px;
}

.latest-news-filter-container>i {
  color: var(--cyan);
  font-size: 1.2rem;
  border-radius: 8px;
}

.latest-news-filter-container>select {
  all: unset;
  color: var(--primary-color);
  font-weight: 600;
  font-size: 0.9rem;
  padding: 0 1rem;
}

.latest-news-filter-container::after {
  content: '\2304';
  position: absolute;
  top: -45%;
  left: 85%;
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: 600;
}

/* latest news list section */

.latest-news-list li {
  all: unset;
  padding: 1rem;
  margin-bottom: 4rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.news-tags {
  margin-bottom: 0.4rem;
}

.news-tags>span {
  color: var(--blue);
  background-color: #c6e4ff;
  width: fit-content;
  padding: 0.2rem 1rem;
  border-radius: 18px;
  font-size: small;
  font-weight: 500;
}

/* CSS to show only two lines */
.news-content,
.news-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 0.5rem 0;
}

.news-title {
  font-weight: 600;
  transition: all 0.2s ease-in-out
}

.news-title:hover {
  color: var(--blue);
}

.news-content {
  color: var(--primary-color);
}

.news-publish-timing {
  color: var(--primary-color);
  font-size: small;
}

/* Explore project section */

.explore-project-container {
  grid-area: explore-project;
  padding: 1rem 1.5rem;
  background-color: var(--white);
}

.explore-project-container>h1 {
  font-weight: 600;
}

.explore-project-container>div {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.explore-project-container>div>div {
  padding: 1rem;
  border-radius: 4px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.explore-project-container>div>div:hover {
  transform: scale(1.1);
  box-shadow: var(--box-shadow);
}

.explore-project-container>div>div>h3 {
  color: var(--white);
  font-size: 1rem;
  font-weight: 500;
}

.explore-project-container>div>div>i {
  font-size: x-large;
  color: var(--white);
  margin-bottom: 1rem;
}

.project-goals {
  background-color: var(--blue);
  opacity: 0.9;
  /* position: relative; */
}

/* .project-goals::before {
  content: '\f140';
  font-family: 'FontAwesome';
  position: absolute;
  font-size: 6rem;
  color: #77c2ff;
  top: 40%;
  left: 60%;
  z-index: -1;
} */

.news-feed {
  background-color: var(--orange);
}

.project-plan {
  background-color: var(--cyan);
}

.research-scope {
  background-color: var(--primary-color);
}

/* Notes section */

.notes-container {
  grid-area: notes;
  padding: 1rem 1.5rem;
  background-color: var(--white);
}

.notes-heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.notes-heading-container>h1 {
  font-weight: 600;
}

.notes-heading-container>p {
  color: var(--blue);
  font-size: small;
  font-weight: 600;
  cursor: pointer;
}

.add-notes-input-container {
  display: flex;
  align-items: center;
  font-size: small;
  font-weight: 500;
}

.add-notes-input-container>input {
  width: calc(100% - 21px);
  padding: 0.4rem;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-right: 0;
  border-radius: 4px 0 0 4px
}

.add-notes-input-container>i {
  padding: 0.6rem;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 0 4px 4px 0;
}

.notes-body-container>ul>li {
  all: unset;
}

.notes-list-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 1rem;
  /* width: 32rem; */
}

.notes-list-item-header-left-part>img {
  width: 30px;
  border-radius: 100%;
}

.notes-list-item-header-left-part {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.notes-list-item-name,
.notes-list-item-time {
  font-weight: 600;
  font-size: small;
}

.notes-list-item-time {
  color: var(--primary-color);
}

.notes-list-item-header-right-part {
  margin-right: 0;
  cursor: pointer;
}

.notes-list-item-content {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: var(--primary-color);
}

/* Project details section */

.project-details-container {
  grid-area: project-details;
  padding: 1rem 1.5rem;
  background-color: var(--white);
}

.project-details-container>h1 {
  font-weight: 600;
}

.project-details-container>div {
  margin-top: 1rem;
}

.project-details-container>div>div {
  color: var(--primary-color);
}

.project-details-container>div>div>h4 {
  margin: 0.5rem 0;
  color: #000;
  font-weight: 500;
}

.project-details-container>div>div>p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  margin: 0.5rem 0;
  font-size: 0.9rem;
  color: var(--primary-color);
}

.project-details-container>div>div>ul {
  font-size: 0.9rem;
  color: var(--primary-color);
}

.project-details-documents i {
  padding-right: 0.4rem;
}

.fa-file-pdf {
  color: var(--red);
}

.fa-file {
  color: var(--blue);
}

.fa-file-zipper {
  color: var(--primary-color);
}

/* for explore porject section... coulcnt apply this using class name*/

ul>li {
  list-style-position: inside;
}

/*
MEDIA QUERIES FOR RESPONSIVENESS
*/

@media only screen and (max-width: 1034px) {

  header {
    padding: 0.3rem 0.6rem;
  }

  .header-middle>nav,
  .header-middle>hr {
    display: none;
  }

  .header-right>i,
  .header-arrow-icons {
    display: none;
  }

  .main-heading-container {
    flex-direction: column;
  }

  .main-heading-container>h1 {
    font-size: large;
  }

  .main-heading-container>div {
    font-size: small;
    padding: 2px;
    margin-top: 2px;
  }

  .main-content-container>nav {
    display: none;
  }

  .main-content-summary-container {
    flex-direction: column;
  }


  .main-content-summary-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main-content-summary {
    display: flex;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
  }

  main {
    padding: 0.5rem 1rem;
  }

  .main-content-body-container {
    display: flex;
    flex-direction: column;
  }

  .explore-project-container>div>div:hover,
  .main-content-summary:hover {
    transform: scale(1.05);
  }

}